@import url('https://fonts.googleapis.com/css2?family=Redressed&family=Merriweather:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zeyada&display=swap');

*,
::before,
::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.redressed {
	font-family: 'Redressed', cursive;
}

.merriweater {
	font-family: 'Merriweater', serif;
}

.signature {
	font-family: 'Zeyada', cursive;
	color: red;
	font-weight: 700;
}


.cc-navbar {
	background-color: rgba(0, 0, 0);
	font-family: 'Merriweather', serif;
	box-shadow: 1px 1px 3px rgba(255, 255, 255, 0.54);
	z-index: 99;
	height: 80px;
}


.cc-navbar .nav-link {
	border-bottom: 1px solid transparent;
	transition: padding-bottom .4s ease-in-out, border-color .3s ease;

}

.cc-navbar .nav-link:hover {
	padding-bottom: 20px;
	border-bottom: var(--bs-teal);

}

.cc-navbar .nav-link {
	border-bottom: 1px solid transparent;
	transition: padding-bottom 0.4s ease-in-out, border-color 0.3s ease;
}

.banner,
.order-form {
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url('../img/banniere.jpg') center center fixed no-repeat;


	background-size: cover;
	z-index: 99;
}

.banner {
	height: 100vh;
}

.order-form {
	height: 500px;
}

.available {
	height: auto;
}

.banner .banner-desc {
	font-size: 48px;
	font-weight: 400;
	color: #fff;
}


.cc-menu {
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url('../img/banniere5.jpg') center center fixed no-repeat;
	background-size: cover;
	/* height: 1200px; */
	height: auto;
}


.btn-order {
	color: var(--bs-teal);
	border-color: var(--bs-teal);
	transition: 0.5s;
}


.btn-order:hover,
.btn-order:focus,
.btn-order:active {
	color: #fff;
	background-color: var(--bs-teal);
}

.nav-link {
	color: black;
}
 @media screen and (max-width: 621px) {

    /* petit ecran */
     .img {
        width: 95%;
		justify-content: center;
    }

    .card-text {
        display: none;
    }
	.autres-box{
		display:none;
	}
}