@import url('https://fonts.googleapis.com/css2?family=Redressed&family=Merriweather:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zeyada&display=swap');

.redressed {
	font-family: 'Redressed', cursive;
}

.merriweater {
	font-family: 'Merriweater', serif;
}

.signature {
	font-family: 'Zeyada', cursive;
	color: red;
	font-weight: 700;
}


.cc-navbar {
	background-color: rgba(0, 0, 0);
	font-family: 'Merriweather', serif;
	box-shadow: 1px 1px 3px rgba(255, 255, 255, 0.54);
	z-index: 150;
}

.cc-navbar .nav-link {
	border-bottom: 1px solid transparent;
	transition: padding-bottom .4s ease-in-out, border-color .3s ease;

}

.cc-navbar .nav-link:hover {
	padding-bottom: 10px;
	border-bottom: var(--bs-teal);

}

.banner,
.order-form {
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url('../img/banniere.jpg') center center fixed no-repeat;
	height: 100vh;
	background-size: cover;
	z-index: 99;
}

.order-form {
	height: 500px;
}

.banner-desc {
	font-size: 48px;
	font-weight: 400;
	color: white;
}

.cc-menu {
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url('../img/banniere5.jpg') center center fixed no-repeat;
	background-size: cover;
	height: 1200px;
}

.btn-order {
	color: var(--bs-teal);
	border-color: var(--bs-teal);
	transition: 0.5s;
}

.btn-order:hover,
.btn-order:active {
	color: #fff;
	background-color: var(--bs-teal);
}

.nav-link {
	color: black;
}